[submodule "Fantasy_Draft_Lottery"]
	path = Fantasy_Draft_Lottery
	url = git@github.com:riders994/Fantasy_Draft_Lottery.git
[submodule "NBASchedule"]
	path = NBASchedule
	url = git@github.com:riders994/NBASchedule.git
[submodule "leagueSQL"]
	path = leagueSQL
	url = git@github.com:riders994/leagueSQL.git
[submodule "NBAEloGraphs"]
	path = NBAEloGraphs
	url = https://github.com/riders994/NBAEloGraphs.git
